.app {
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 images per row */
  gap: 16px;
  margin-top: 24px;
}

.image-item {
  width: 100%;
  position: relative;
}

.image-item img {
  max-width: 100%;
  height: auto;
  cursor: pointer;  
}

.image-grid p {
  font-size: 16px;
  font-weight: 500;
  color: #030202;
}

.title{
  font-size: 2em;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #fa89d2;
}